Texte/Paper
Texte/Notizen
Texte/Arbeit/Paper
Texte/Arbeit/Bilder
Texte/Arbeit/Zusammenfassungen
Ergebnisse/UNET_*
Ergebnisse/FNO_Ergebnisse/One_Crystal
Ergebnisse/FNO_Ergebnisse/Experiment_2
Ergebnisse/FNO_Ergebnisse/Experiment_3/eval_output_exp3_16/plots
Ergebnisse/FNO_Ergebnisse/Experiment_3/eval_output_exp3_16/predictions
Ergebnisse/FNO_Ergebnisse/Experiment_3/eval_output_exp3_8/plots
Ergebnisse/FNO_Ergebnisse/Experiment_3/eval_output_exp3_8/predictions
.claude
Texte/Arbeit/Anmerkungen
