Texte/Paper
Texte/Notizen
Texte/Arbeit/Paper
Texte/Arbeit/Bilder
Texte/Arbeit/Zusammenfassungen
data_train/n04
data_train/n05
data_train/n06
data_train/n07
data_train/n08
data_train/n09
data_train/n10
data_train/n15
data_train/n20
data_train/n25
Ergebnisse/FNO_*
Ergebnisse/UNET_*
.claude
Texte/Arbeit/Anmerkungen
