Texte/Paper
Texte/Notizen
Texte/Arbeit/Paper
Texte/Arbeit/Bilder
.claude
Texte/Arbeit/Anmerkungen
Texte/Verteidigung/Notizen_Verteidigung_EN.md
Texte/Verteidigung/Verteidigung_Baselt_EN_v2.pptx
Texte/Verteidigung/~$Verteidigung_Baselt_EN_v3.pptx
